body {
    background-color: #ECF0F1;
    color: #34495E;
    font-family: 'PT Mono', monospace;
}
pre {
    margin: 0;
}
p {
    margin: 0.4em 0;
}
#accordion-container {
    padding: 0;
}
.tab-pane {
    background: #FFFFFF;
}
.col-md-12 hr {
    margin: 0.25em;
    opacity: 0.5;
}
.result-line-number {
    display: none;
}
.non-priority {
    color: #CCC;
}
.tool-desc {
    font-size: 0.8em;
    color: #999;
    display: none;
}
.result-info {
    display: block;
}
.right {
    text-align: right;
}
.table td, .table th{
    padding: 0.25em;
}